## Numpy

Импортировать NumPy под именем np

In [1]:
import numpy as np

Создать вектор (одномерный массив) размера 10, заполненный нулями

In [2]:
print(np.zeros(10))

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

Создать вектор размера 10, заполненный единицами

In [3]:
print(np.ones(10))

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

Создать вектор размера 10, заполненный числом 2.5

In [4]:
print(np.full(10, 2.5))

[2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5 2.5]

Создать вектор размера 10, заполненный нулями, но пятый элемент равен 1

In [5]:
print(np.array([(lambda i: 1 if i == 4 else 0)(i) for i in range(10)]))

[0 0 0 0 1 0 0 0 0 0]

Развернуть вектор (первый становится последним)

In [6]:
print(np.flip(np.arange(10), 0))

[9 8 7 6 5 4 3 2 1 0]

Создать матрицу (двумерный массив) 3x3 со значениями от 0 до 8

In [7]:
print(np.arange(9).reshape(3, 3))

[[0 1 2]
 [3 4 5]
 [6 7 8]]

Найти индексы ненулевых элементов в [1,2,0,0,4,0]

In [8]:
print(np.flatnonzero([1,2,0,0,4,0]))

[0 1 4]

Создать 3x3 единичную матрицу

In [9]:
print(np.ones((3, 3)))

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

Создать массив 3x3x3 со случайными значениями

In [10]:
print(np.random.random((3, 3, 3)))

[[[0.14129951 0.73597576 0.12330401]
  [0.74276135 0.10264673 0.51257413]
  [0.21391845 0.2980692  0.36513953]]

 [[0.52725395 0.70486744 0.64003314]
  [0.56578254 0.00404608 0.86525055]
  [0.39659799 0.44447603 0.07379389]]

 [[0.3485267  0.69765364 0.26930492]
  [0.45755909 0.51073391 0.53550619]
  [0.98002193 0.88678931 0.40820852]]]

Создать случайный вектор размера 30 и найти среднее значение всех элементов

In [11]:
print(np.mean(np.random.random(30)))

0.521810722589472

Перемножить матрицы 5x3 и 3x2

In [12]:
A = np.arange(15).reshape((5, 3))
B = np.arange(6).reshape((3, 2))
print(np.matmul(A, B))

[[ 10  13]
 [ 28  40]
 [ 46  67]
 [ 64  94]
 [ 82 121]]

Создать вектор размера 10 со значениями от 0 до 1, не включая ни то, ни другое

In [13]:
x = np.linspace(0, 1, num=11, endpoint=False)[1:]
print(x)

[0.09090909 0.18181818 0.27272727 0.36363636 0.45454545 0.54545455
 0.63636364 0.72727273 0.81818182 0.90909091]

Заменить максимальный элемент на ноль

In [14]:
x[np.argmax(x)] = 0
print(x)

[0.09090909 0.18181818 0.27272727 0.36363636 0.45454545 0.54545455
 0.63636364 0.72727273 0.81818182 0.        ]

Преобразовать массив из float в int

In [15]:
x_int = x.astype(int)
print(x_int)

[0 0 0 0 0 0 0 0 0 0]

Дан массив (10,2) координат, найти расстояние от каждой точки до каждой

In [16]:
points = np.array([[1, 2],
                  [5, -3],
                  [7, 13],
                  [0, 0],
                  [23, 1],
                  [5, 1],
                  [11, 0],
                  [1, 1],
                  [3, 7],
                  [11, 123]])

for i in range(np.size(points, 0)):
    for j in range(i + 1, np.size(points, 0)):
        print(f"The distance bitween point{i+1} and point{j+1} is: {np.linalg.norm(points[i] - points[j])}")

The distance bitween point1 and point2 is: 6.4031242374328485
The distance bitween point1 and point3 is: 12.529964086141668
The distance bitween point1 and point4 is: 2.23606797749979
The distance bitween point1 and point5 is: 22.02271554554524
The distance bitween point1 and point6 is: 4.123105625617661
The distance bitween point1 and point7 is: 10.198039027185569
The distance bitween point1 and point8 is: 1.0
The distance bitween point1 and point9 is: 5.385164807134504
The distance bitween point1 and point10 is: 121.41251994749142
The distance bitween point2 and point3 is: 16.1245154965971
The distance bitween point2 and point4 is: 5.830951894845301
The distance bitween point2 and point5 is: 18.439088914585774
The distance bitween point2 and point6 is: 4.0
The distance bitween point2 and point7 is: 6.708203932499369
The distance bitween point2 and point8 is: 5.656854249492381
The distance bitween point2 and point9 is: 10.198039027185569
The distance bitween point2 and point10 is: 126.14277624977183
The distance bitween point3 and point4 is: 14.7648230602334
The distance bitween point3 and point5 is: 20.0
The distance bitween point3 and point6 is: 12.165525060596439
The distance bitween point3 and point7 is: 13.601470508735444
The distance bitween point3 and point8 is: 13.416407864998739
The distance bitween point3 and point9 is: 7.211102550927978
The distance bitween point3 and point10 is: 110.07270324653611
The distance bitween point4 and point5 is: 23.021728866442675
The distance bitween point4 and point6 is: 5.0990195135927845
The distance bitween point4 and point7 is: 11.0
The distance bitween point4 and point8 is: 1.4142135623730951
The distance bitween point4 and point9 is: 7.615773105863909
The distance bitween point4 and point10 is: 123.4908903522847
The distance bitween point5 and point6 is: 18.0
The distance bitween point5 and point7 is: 12.041594578792296
The distance bitween point5 and point8 is: 22.0
The distance bitween point5 and point9 is: 20.8806130178211
The distance bitween point5 and point10 is: 122.58874336577564
The distance bitween point6 and point7 is: 6.082762530298219
The distance bitween point6 and point8 is: 4.0
The distance bitween point6 and point9 is: 6.324555320336759
The distance bitween point6 and point10 is: 122.14745187681976
The distance bitween point7 and point8 is: 10.04987562112089
The distance bitween point7 and point9 is: 10.63014581273465
The distance bitween point7 and point10 is: 123.0
The distance bitween point8 and point9 is: 6.324555320336759
The distance bitween point8 and point10 is: 122.40914998479485
The distance bitween point9 and point10 is: 116.27553482998907

Случайно расположить p элементов в 2D массив

In [17]:
p = 10
p_values = np.random.random(p)

n = 4
m = 3

target = np.zeros((n, m))

for i in range(p):
    arbitrary_n = np.random.randint(0, n)
    arbitrary_m = np.random.randint(0, m)
    target[arbitrary_n, arbitrary_m] = p_values[i]

print(target)

[[0.         0.79876759 0.54542885]
 [0.         0.50704792 0.50048567]
 [0.85599691 0.25766088 0.        ]
 [0.         0.83728824 0.        ]]

Дан вектор [1, 2, 3, 4, 5], построить новый вектор с тремя нулями между каждым значением

In [18]:
source = np.array([1, 2, 3, 4, 5])
zeros = np.zeros((5, 3), dtype=int)
splitted = np.split(source, 5)
target = np.hstack((splitted, zeros)).flatten()[:-3]
print(target)

[1 0 0 0 2 0 0 0 3 0 0 0 4 0 0 0 5]

Найти наиболее частое значение в массиве

In [19]:
x = np.array([0, 1, 2, 2, 8, 8, 8, 100, 10])
counts = np.bincount(x)
print (np.argmax(counts))

8

Найти n наибольших значений в массиве

In [20]:
x = np.array([0, 1, 2, 2, 7, 9, 8, 100, 10])
y = np.sort(x)
n = 3
print(y[np.size(y)-n : np.size(y)])

[  9  10 100]

## Pandas - изучение данных

Перейти по ссылке [Kaggle]( https://www.kaggle.com/openfoodfacts/world-food-facts)

Скачать датасет на свой компьютер и распаковать

Считать csv файл в датафрейм food

In [21]:
import pandas as pd

In [22]:
food = pd.read_csv("en.openfoodfacts.org.products.tsv", sep="\t", low_memory=False)

Посмотреть первые 5 записей

In [23]:
food.head(5)

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
0,0000000003087,http://world-en.openfoodfacts.org/product/0000...,openfoodfacts-contributors,1474103866,2016-09-17T09:17:46Z,1474103893,2016-09-17T09:18:13Z,Farine de blé noir,NaN,1kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0000000004530,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Banana Chips Sweetened (Whole),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN
2,0000000004559,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Peanuts,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,0000000016087,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055731,2017-03-09T10:35:31Z,1489055731,2017-03-09T10:35:31Z,Organic Salted Nut Mix,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,NaN,NaN
4,0000000016094,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055653,2017-03-09T10:34:13Z,1489055653,2017-03-09T10:34:13Z,Organic Polenta,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Сколько наблюдений в наборе данных?

In [24]:
food.shape[0]

356027

Сколько столбцов в наборе данных?

In [25]:
food.shape[1]

163

Напечатайте все названия столбцов

In [26]:
food.columns

Index(['code', 'url', 'creator', 'created_t', 'created_datetime',
       'last_modified_t', 'last_modified_datetime', 'product_name',
       'generic_name', 'quantity',
       ...
       'fruits-vegetables-nuts_100g', 'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g',
       'water-hardness_100g'],
      dtype='object', length=163)

Какое название у 105 столбца?

In [27]:
food.columns[104]

'-glucose_100g'

Какой тип наблюдений в 105 столбце?

In [28]:
food.dtypes[104]

dtype('float64')

Как проиндексирован набор данных?

In [39]:
food.index

RangeIndex(start=0, stop=356027, step=1)

Каково значение имени продукта в 19-м наблюдении?

In [29]:
food.at[19,"product_name"]

'Organic Oat Groats'

## Pandas - фильтрация данных

Считать данные по  [адресу](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). 
Присвоить переменной chipo

In [30]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t")
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

Как много продуктов стоят более чем $10.00?

In [31]:
chipo["item_price"] = chipo["item_price"].apply(lambda x: x.replace("$", "").replace(",", "")).astype("float")
(chipo["item_price"] > 10.0).value_counts()[True]

1130

Какова цена каждого предмета? Напечатать столбцы item_name и item_price

In [36]:
chipo[["item_name", "item_price"]]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
5                              Chicken Bowl       10.98
6                             Side of Chips        1.69
7                             Steak Burrito       11.75
8                          Steak Soft Tacos        9.25
9                             Steak Burrito        9.25
10                      Chips and Guacamole        4.45
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
13                             Chicken Bowl       11.25
14                      Chips and Guacamole        4.45
15    Chips and Tomatillo-Green Chili Salsa        2.39
16                          Chicken Burrito        8.49
17                          Chicken Burrito        8.49
18                              Canned Soda        2.18
19                             Chicken Bowl        8.75
20                      Chips and Guacamole        4.45
21                         Barbacoa Burrito        8.99
22                         Nantucket Nectar        3.39
23                          Chicken Burrito       10.98
24                                     Izze        3.39
25             Chips and Fresh Tomato Salsa        2.39
26                             Chicken Bowl        8.49
27                         Carnitas Burrito        8.99
28                              Canned Soda        1.09
29                          Chicken Burrito        8.49
...                                     ...         ...
4592                       Barbacoa Burrito       11.75
4593                          Carnitas Bowl       11.75
4594                          Barbacoa Bowl       11.75
4595                           Chicken Bowl        8.75
4596                    Chips and Guacamole        4.45
4597                      Canned Soft Drink        1.25
4598                          Bottled Water        1.50
4599                           Chicken Bowl        8.75
4600                    Chips and Guacamole        4.45
4601                      Canned Soft Drink        1.25
4602                       Barbacoa Burrito        9.25
4603                       Barbacoa Burrito        9.25
4604                           Chicken Bowl        8.75
4605                    Chips and Guacamole        4.45
4606                      Canned Soft Drink        1.25
4607                          Steak Burrito       11.75
4608                         Veggie Burrito       11.25
4609                      Canned Soft Drink        1.25
4610                          Steak Burrito       11.75
4611                         Veggie Burrito       11.25
4612                          Carnitas Bowl        9.25
4613                                  Chips        2.15
4614                          Bottled Water        1.50
4615                     Chicken Soft Tacos        8.75
4616                    Chips and Guacamole        4.45
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

Отсортировать по имени предмета

In [37]:
chipo.sort_values(by=["item_name"])

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
3422,1373,1,6 Pack Soft Drink,[Coke],6.49
553,230,1,6 Pack Soft Drink,[Diet Coke],6.49
1916,774,1,6 Pack Soft Drink,[Diet Coke],6.49
1922,776,1,6 Pack Soft Drink,[Coke],6.49
1937,784,1,6 Pack Soft Drink,[Diet Coke],6.49
3836,1537,1,6 Pack Soft Drink,[Coke],6.49
298,129,1,6 Pack Soft Drink,[Sprite],6.49
1976,798,1,6 Pack Soft Drink,[Diet Coke],6.49
1167,481,1,6 Pack Soft Drink,[Coke],6.49
3875,1554,1,6 Pack Soft Drink,[Diet Coke],6.49
1124,465,1,6 Pack Soft Drink,[Coke],6.49
3886,1558,1,6 Pack Soft Drink,[Diet Coke],6.49
2108,849,1,6 Pack Soft Drink,[Coke],6.49
3010,1196,1,6 Pack Soft Drink,[Diet Coke],6.49
4535,1803,1,6 Pack Soft Drink,[Lemonade],6.49
4169,1664,1,6 Pack Soft Drink,[Diet Coke],6.49
4174,1666,1,6 Pack Soft Drink,[Coke],6.49
4527,1800,1,6 Pack Soft Drink,[Diet Coke],6.49
4522,1798,1,6 Pack Soft Drink,[Diet Coke],6.49
3806,1525,1,6 Pack Soft Drink,[Sprite],6.49
2389,949,1,6 Pack Soft Drink,[Coke],6.49
3132,1248,1,6 Pack Soft Drink,[Diet Coke],6.49
3141,1253,1,6 Pack Soft Drink,[Lemonade],6.49
639,264,1,6 Pack Soft Drink,[Diet Coke],6.49
1026,422,1,6 Pack Soft Drink,[Sprite],6.49
...,...,...,...,...,...
2996,1192,1,Veggie Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
3163,1263,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
4084,1635,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
2756,1094,1,Veggie Salad,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.49
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.25
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",8.75
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",8.75
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",11.25
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",11.25
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

Сколько было заказано самого дорогого предмета?

In [43]:
chipo.iloc[chipo["item_price"].idxmax()]["quantity"]

15

Сколько раз был заказан предмет "Veggie Salad Bowl"?

In [62]:
is_salad = chipo["item_name"] == "Veggie Salad Bowl"
(chipo[is_salad])["quantity"].sum()

18

Сколько раз люди заказали более чем 1 предмет "Canned Soda"?

In [67]:
chipo[(chipo["item_name"] == "Canned Soda") & (chipo["quantity"] > 1)]["quantity"].sum()

42